#bottom{
    height: 60px;
    background: #f5f5f5;
    .copyright{
        p{
            font-size: 14px;
            color: #838383;
            margin: 0;
        }
        i{
            border: 1px solid $common-color;
            border-radius: 100%;
            font-size: 8px;
            width: 30px;
            height: 30px;
            text-align: center;
            line-height: 30px;
        }
    }
}